
h2 {
    color:#6b9080;
}
h3 {
    color: #537763;
}
h1 {
    color: #344e41;
}
body {
    color: #657a69;
    background: #aabba4;
}
p {
    background: #dfe7dd;
    border-radius: 10px;
    padding: 20px;
}
a {
    color: rgb(248, 247, 241);
}
img {
    max-width: 600px;
}
.logo {
    max-width: 200px;
}
.my_photo {
    border-radius: 50%;
    max-width: 200px;
}
.offer-header {
    text-decoration: underline;
}