html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #657a69;
  background: #d9e2d6;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.navigation {
  background-color: white;
  display: flex;
  justify-content: center;
}
.navigation--link{
  color: #657a69;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}
.navigation--link__main {
  color: rgb(0, 0, 0);
}
.main--heading {
  color: #344e41;
}
.hello-section {

}
.hello-section--title {
  color: #6b9080;
}
.hello-section--photo {
  border-radius: 50%;
  max-height: 200px;
  padding: 0 20px;
}
.hello-section--description {
  background: #dfe7dd;
  border-radius: 10px;
  padding: 20px;
}
.to-you-section {

}
.to-you-section--title {
  color: #6b9080;
}
.to-you-section--description {
  background: #dfe7dd;
  border-radius: 10px;
  padding: 20px;
}
.about-me-section {

}
.about-me-section--title {
  color: #6b9080;
}
.about-me-section--photo {
  max-height: 200px;
  padding: 0 20px;
  border-radius: 25%;
}
.about-me-section--description {
  background: #dfe7dd;
  border-radius: 10px;
  padding: 20px;
}
.offfer-section {

}
.offer-section--title {
  color: #6b9080;
  text-align: center;
}
.family-article {
  margin: 16px;
}
.family-article--title {
  color: #294e3e;
  text-align: center;
  margin-top: 0px;
}
.family-article--description {
  background: #dfe7dd;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
}
.kids-article {
  margin: 16px;
}
.kids-article--title {
  color: #294e3e;
  text-align: center;
  margin-top: 0px;
}
.kids-article--description {
  background: #dfe7dd;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.day-article {
  margin: 16px;
}
.day-article--title {
  color: #294e3e;
  text-align: center;
  margin-top: 0px;
}
.day-article--description {
  background: #dfe7dd;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
}
}
a {
  color: rgb(17, 68, 88);
}
img {
  max-width: 300px;
  padding: 10px;
}
.footer {

}
.footer__link {
  
}
.offer-section {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}